# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [157]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [158]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep="\t")
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [159]:
chipo["item_price"] = chipo["item_price"].str.slice(1)
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [160]:
chipo["item_price"].dtype

dtype('O')

In [161]:
chipo["item_price"] = chipo["item_price"].astype(float)

In [162]:
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [163]:
prices = chipo.groupby("item_name")["item_price"].max()
(prices > 10).sum()

np.int64(31)

### Step 5. What is the price of each item? 
###### print a data frame with only three columns item_name choice_description and product_price

In [164]:
each_item = chipo.groupby(["item_name", "choice_description"])["item_price"].min()
each_item = each_item.reset_index()
each_item = each_item.rename({"item_price": "product_price"})
each_item

,item_name,choice_description,item_price
0,6 Pack Soft Drink,[Coke],6.49
1,6 Pack Soft Drink,[Diet Coke],6.49
2,6 Pack Soft Drink,[Lemonade],6.49
3,6 Pack Soft Drink,[Nestea],6.49
4,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...
1854,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1855,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1856,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1857,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1858,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

### Step 6. Sort by the name of the item

In [165]:
each_item = each_item.sort_values("item_name")
each_item

,item_name,choice_description,item_price
0,6 Pack Soft Drink,[Coke],6.49
1,6 Pack Soft Drink,[Diet Coke],6.49
2,6 Pack Soft Drink,[Lemonade],6.49
3,6 Pack Soft Drink,[Nestea],6.49
4,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...
1857,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1853,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
1852,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98
1854,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1858,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [166]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [167]:
chipo.groupby("item_price")["quantity"].max().sort_values(ascending=False).head(1)

item_price
44.25    15
Name: quantity, dtype: int64

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [168]:
chipo[chipo["item_name"]=="Veggie Salad Bowl"]["quantity"].sum()

np.int64(18)

### Step 9. How many times did someone order more than one Canned Soda?

In [169]:
chipo[(chipo["item_name"]=="Canned Soda") & (chipo["quantity"] > 1)]["quantity"].count()

np.int64(20)